body {
  background-color: aliceblue;
  max-width: 100%;
  overflow-x: hidden;
  color: #222222;
}

body a {
  font-size: 14px;
  color: #222222;
  text-decoration: none !important;
}

body a :hover {
  color: #2daaed;
}

body p {
  margin-bottom: 0;
}

body input {
  outline: none;
}

body ul,
body li {
  list-style: none;
}

.wrapper {
  font-size: 14px;
  font-family: "NhacCuaTui", sans-serif;
  font-weight: 500;
  color: #222222;
  /* start banner */
  /*=====end banner======== */
}

.wrapper .banner__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px;
}

.wrapper .banner__search .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  border: 1.5px solid #cacaca;
  padding: 0px 20px;
  border-radius: 25px;
}

.wrapper .banner__search .group img {
  width: 15px;
  height: 15px;
}

.wrapper .banner__search .group input {
  font-size: 20px;
  width: 450px;
  height: 50px;
  border: none;
  outline: none;
  padding: 10px;
}

.wrapper .header {
  width: 100%;
  border-bottom: #dadada solid 1px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 180px;
  display: flex;
  align-items: center;
}

.wrapper .header a {
  white-space: nowrap;
}

.wrapper .header .drop__chil {
  padding: 50px 20px;
  position: absolute;
  z-index: 999;
  background-color: white;
  -webkit-box-shadow: 0 0 0 2px rgba(207, 208, 209, 0.25);
          box-shadow: 0 0 0 2px rgba(207, 208, 209, 0.25);
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  display: none;
  -webkit-transition: .4s;
  transition: .4s;
}

.wrapper .header .drop__chil ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .header .drop__chil ul li {
  margin: 5px 0;
  white-space: nowrap;
}

.wrapper .header img {
  margin: 0 5px;
}

.wrapper .header .header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .header__item .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .header__item .img img {
  width: 22px;
  height: 22px;
}

.wrapper .header .header__item .group__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .header__item .group__input input {
  border: none;
  background-color: #f1eded;
  padding: 5px 5px;
}

.wrapper .header .header__item .group__input .icon__search {
  background-color: #f1eded;
  padding: 4px;
}

.wrapper .header .header__item .group__input img {
  width: 18px;
  height: 18px;
  margin: 0 5px;
}

.wrapper .header .dn__dk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .dn__dk p {
  margin: 0 5px;
}

.wrapper .header .dn__dk .dk {
  cursor: pointer;
  width: 80px;
  height: 32px;
  font-size: 13.5px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background-image: linear-gradient(45deg, #2f80ed 0%, #00aeef 100%);
}

.wrapper .header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper .header ul li {
  margin: 0 10px;
}

.wrapper .banner {
  margin: 30px 0;
}

.wrapper .banner .items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
}

.wrapper .banner .items img {
  width: 100%;
}

.wrapper .banner .owl-carousel.owl-drag .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .big__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .big__list .item__big {
  width: 80%;
}

.wrapper .big__list .item__big .icon_play {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  display: none;
  margin: -24px 0 0 -24px;
  width: 48px;
  height: 48px;
  background: url(https://stc-id.nixcdn.com/v11/images/icon.png) left -28px no-repeat;
}

.wrapper .big__list .item__big a {
  position: relative;
  width: 152px;
  height: 152px;
}

.wrapper .big__list .item__big a:hover .icon_play {
  display: block;
}

.wrapper .big__list .item__row {
  width: 17%;
  margin: 8px;
}

.wrapper .big__list .item__row img {
  width: 100%;
}

.wrapper .big__list .item__row p {
  font-size: 14px;
  margin: 0px 0 10px 0;
  float: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 0px;
}

.wrapper .big__list h2 {
  color: #2daaed !important;
  text-transform: uppercase;
  padding: 30px 0 10px 0;
  margin-left: 0;
  font-weight: 300 !important;
}

.wrapper .groupH2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.wrapper .groupH2 img {
  width: 45px;
  height: auto;
}

.wrapper .groupH2 h2 {
  padding: 0;
  margin: 0 2px;
}

.wrapper .kuni {
  float: left;
  padding: 0px 0px;
  margin-bottom: 20px;
  height: 32px;
  background: #e5e5e5;
  line-height: 32px;
  border-radius: 16px;
  cursor: pointer;
  overflow: hidden;
}

.wrapper .kuni .kuni__items {
  color: #fff;
  background: #e74c3c;
  padding: 0;
  font-size: 14px;
  text-align: center;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper .kuni .kuni__item {
  width: 99px;
  padding: 0;
  font-size: 14px;
  color: #333333;
  text-align: center;
  float: left;
  line-height: 32px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapper .kuni .kuni__item:hover {
  background-color: #e74c3c;
  color: #fff;
}

.wrapper .bxh {
  margin: 0;
  padding: 0;
}

.wrapper .bxh .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  border-bottom: #f3f3f3 solid 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.wrapper .bxh .img__top1 {
  margin-right: 20px;
}

.wrapper .bxh .img__top1 span {
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 20px;
  padding: 0;
  border: #e74c3c solid 1px;
  margin: 66px 0 0 0;
  line-height: 32px;
  background: #e74c3c;
  color: #ffffff;
  position: absolute;
  margin-right: 10px;
  font-family: "NhacCuaTui", sans-serif;
}

.wrapper .bxh .img__top1 .bt {
  color: #00aeef !important;
  text-align: center;
  font-weight: 800 !important;
  font-size: 20px;
  padding: 0;
  line-height: 32px;
  color: #ffffff;
  font-family: "NhacCuaTui", sans-serif;
}

.wrapper .bxh .img__top1 img {
  width: 100px;
  height: 100px;
}

.wrapper .bxh h3 {
  color: black;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  font-family: "NhacCuaTui", sans-serif;
  line-height: 1.4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapper .bxh h4 {
  color: #acacac;
  font-size: 12px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapper .bxh h4:hover {
  color: #00aeef;
}

.wrapper .bxh h3:hover {
  color: #00aeef;
}

.wrapper .bxh__video .img__top1 img {
  width: 90% !important;
  height: auto;
}

.wrapper .bxh__video span {
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
}

.wrapper .item_big_row {
  width: 45%;
  padding: 0 7px;
}

.wrapper .item_big_row img {
  width: 100%;
}

.wrapper .item_big_row2 {
  width: 22.5%;
  padding: 10px 7px;
}

.wrapper .item_big_row2 img {
  width: 100%;
}

.wrapper .big_row_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: #ececec solid 1px;
  padding: 5px 10px;
  line-height: 24px;
}

.wrapper .big_row_item .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .big_row_item .left img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.wrapper .big_row_item .left h3 {
  color: #333;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  font-family: "NhacCuaTui", sans-serif;
  line-height: 1.4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapper .big_row_item .left h4 {
  color: #acacac;
  font-size: 12px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapper .big_row_item .left h4:hover {
  color: #00aeef;
}

.wrapper .big_row_item .left h3:hover {
  color: #00aeef;
}

.wrapper .big_row_item .right .icon__lst {
  color: #999999;
  font-size: 12px;
  background: url(https://stc-id.nixcdn.com/v11/images/icon-repeat.png) left -194px no-repeat;
  padding-left: 15px;
  line-height: 24px;
  display: block;
  margin: 1px 0 0 0;
}

.wrapper .item__row .img img {
  border-radius: 100%;
  border: 1px solid black;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.wrapper .footer {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.wrapper .footer .ft__cen {
  width: 80%;
  height: auto;
  padding-bottom: 10px;
}

.wrapper .footer .ft__cen p {
  color: #00aeef;
}

.wrapper .footer .ft__cen .cooperate__center {
  background-color: #efefef;
  height: auto;
  padding: 25px 0;
}

.wrapper .footer .ft__cen .cooperate__center .items {
  height: auto !important;
}

.wrapper .title__fl {
  font-size: 16px;
  font-weight: 700;
  font-family: "NhacCuaTui", sans-serif;
  margin-top: 10px;
}

.wrapper .footer__center {
  margin: 10px 0;
  padding: 20px 0;
  border-bottom: 1px solid #acacac;
}

.wrapper .footer__center ul {
  margin: 0;
  padding: 0;
}

.wrapper .footer__center ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.wrapper .footer__center ul li img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.wrapper .footer__center ul li a {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.wrapper .footer__center ul li .ic_caret_arrow_next::before {
  font-size: 8px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 8px 0 0;
  content: "\e946";
}

.wrapper .mxh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.wrapper .mxh img {
  margin: 0 8px;
  width: 40px;
  height: 40px;
}

.wrapper .mxh2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.wrapper .mxh2 img {
  margin: 0 8px;
  width: 110px;
  height: auto;
}

.wrapper .nct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .nct .logo img {
  display: block;
  width: 80px;
  height: auto;
  margin: 0 32px 0 0;
}

.wrapper .nct .info h2 {
  width: 100%;
  font-size: 16px;
  color: #909090;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 8px 0;
  line-height: 1.4;
}

.wrapper .nct .info li {
  width: 100%;
  font-size: 13px;
  color: #909090;
  line-height: 22px;
}

.wrapper .img__if {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .img__if img {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 15px;
}

.wrapper .footer__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2f80ed;
}

.wrapper .footer__bot .bot__cen {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding: 30px 0;
}

.wrapper .footer__bot .bot__cen .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .footer__bot .bot__cen .item img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

body .info li {
  list-style: circle;
}

.hover:hover .drop__chil {
  display: block;
  opacity: 1 !important;
  -webkit-transform: translateY(20px) !important;
          transform: translateY(20px) !important;
}

@media (max-width: 991px) {
  .wrapper .header .header__item .group__input {
    display: none !important;
  }
  .wrapper .header .header__item .img {
    display: none !important;
  }
  .dn__dk {
    display: none !important;
  }
  .wrapper .header a {
    font-size: 12px;
  }
  .wrapper .header {
    padding: 15px 30px;
  }
  .wrapper .big__list h2 {
    font-size: 14px !important;
  }
  .wrapper .big__list .item__row p {
    font-size: 10px;
    white-space: normal;
  }
  .wrapper .kuni {
    display: none;
  }
  .wrapper .bxh .img__top1 span {
    display: none;
  }
  .wrapper .big__list .item__big {
    width: 90%;
  }
  .wrapper .footer .ft__cen {
    width: 90%;
  }
  .wrapper .footer__center ul li {
    margin: 5px 0px;
  }
  .wrapper .footer__center ul li img {
    margin: 0 2px;
  }
  .wrapper .big__list .item__row {
    width: 22%;
  }
  .wrapper .item_big_row2 {
    width: 45%;
  }
  .wrapper .groupH2 img {
    width: 30px;
  }
  .wrapper .img__if img {
    display: none;
  }
  .wrapper .footer__bot .bot__cen .item {
    font-size: 12px;
  }
  .wrapper .footer__bot .bot__cen {
    width: 90%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #89a762;
          box-shadow: inset 0 0 5px #89a762;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #89a762;
}

/* Handle on hover */
@media (max-width: 768px) {
  .wrapper .header img {
    display: none;
  }
}

@media (max-width: 768px) {
  body p {
    margin-bottom: 0;
    text-align: center;
    margin-top: 10px;
  }
  .wrapper .big__list .item__row {
    width: 28%;
  }
  .wrapper .header ul li {
    margin: 0 5px;
  }
  .wrapper .big__list h2 {
    padding-bottom: 0;
  }
  .wrapper .item_big_row, .wrapper .item_big_row2 {
    width: 100%;
    padding: 10px 5px;
  }
  .footer .logo {
    display: none;
  }
  .bot_footer {
    width: 45% !important;
  }
  .wrapper .bxh__video .img__top1 img {
    width: 100% !important;
  }
  .wrapper .footer__bot .bot__cen .item {
    font-size: 12px;
    padding: 10px 0;
  }
  .wrapper .footer__bot .bot__cen {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .banner__search .group input {
    width: 270px;
  }
}
/*# sourceMappingURL=home.css.map */